@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    display: flex;
    justify-content: center;
}
main {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 200px 100px 50px;
    gap: 10px;
}
div {
    border: 2px solid orange;
    background-color: palegoldenrod;
    padding: 0 10px 0 10px;
    font-size: 1.2em;
}
div:first-of-type, div:last-of-type {
    grid-column: span 4;
    background-color: rgba(184, 46, 15, 0.8);
}

div:nth-of-type(), div:nth-of-type(5) {

}
div:nth-of-type(7) {

}