table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: cyan;
}
th:not(:nth-child(2)) {
    background-color: darkblue;
    color: white;
}
td {
    background-color: yellow;
}
th:nth-of-type(2), td:nth-child(2) {
    background-color: lightgreen;
    color: red;
}