h2:first-of-type {
    text-transform: uppercase;
}
p {
    text-indent: 20px;
}
p:nth-of-type(2)::first-letter, p:nth-of-type(4)::first-letter {
    font-weight: bold;
    color: red;
}
ul:first-of-type > li::first-letter {
    text-transform: uppercase;
}
ul:nth-of-type(2) > li > span {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: yellow;
}