h1:first-of-type {
    color: yellow;
    background-color: blue;
}
h1:last-of-type {
    color: orange;
    background-color: blue;
}
body {
    background-color: lightgray;
}
span {
    background-color: aqua;
}