@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
#f {
    font-family: 'Caveat', cursive;
    display: block;
    margin: 0;
    font-size: 2em;
    line-height: 40px;
}
#s {
    font-family: 'Sigmar One', sans-serif;
    display: block;
    color: red;
    margin: 0;
    line-height: 75%;
    font-size: 5em;
    text-shadow: 3px 3px 5px black;
}
#t {
    display: block;
    margin: 0;
    font-size: 4.5em;
    line-height: 65px;
    font-family: 'Caveat', cursive;
}
.a {
    color: yellow;
}
#v {
    color: green;
}
.i {
    color: blue;
}
#g {
    color: pink;
}
#aa {
    color: brown;
}
#tt {
    color: lightgreen;
}
#ii {
    color: aqua;
}